<div class="main-calculator">
    <div class="content">
        <h1>Узнайте стоимость услуг и материалов</h1>
        <div class="control-bar">
            <div class="input-section">
                <div class="title">Площадь</div>
                <div class="input-label">
                    <input type="text" />
                    <span>м<sup>2</sup></span>
                </div>
            </div>
            <div class="input-section">
                <div class="title">Толщина</div>
                <div class="input-label">
                    <input type="text" />
                    <select>
                        <option>мм</option>
                        <option>см</option>
                    </select>
                </div>
            </div>
            <div class="input-section">
                <div class="title">Лак</div>
                <div class="radios">
                    <div class="label" style="margin-right: 12px;">
                        <div class="radio"> 
                            <input type="radio" name="lak" id="matoviy"  />
                        </div>
                        <label for="matoviy">Матовый</label>
                    </div>
                    <div class="label">
                        <div class="radio"> 
                            <input type="radio" name="lak" id="glyantseviy"  />
                        </div>  
                        <label for="glyantseviy">Глянцевый</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="services">
            <div class="services-wrapper">
                <div class="service" tabindex="1">
                    <div class="decoration" id="dt"></div>
                    <div class="top">
                        <div class="text">Декоративные эпоксидные полы</div>
                    </div>
                    
                    <img src="~/client/img/static.png" />
                    <div class="bottom">
                        <div class="text">Узнать стоимость</div>
                    </div>
                    <div class="decoration" id="db"></div>
                </div>
                <div class="service" tabindex="1">
                    <div class="decoration" id="dt"></div>
                    <div class="top">
                        <div class="text">Декоративные эпоксидные полы</div>
                    </div>
                    
                    <img src="~/client/img/static.png" />
                    <div class="bottom">
                        <div class="text">Узнать стоимость</div>
                    </div>
                    <div class="decoration" id="db"></div>
                </div>
                <div class="service" tabindex="1">
                    <div class="decoration" id="dt"></div>
                    <div class="top">
                        <div class="text">Декоративные эпоксидные полы</div>
                    </div>
                    
                    <img src="~/client/img/static.png" />
                    <div class="bottom">
                        <div class="text">Узнать стоимость</div>
                    </div>
                    <div class="decoration" id="db"></div>
                </div>
                <div class="service" tabindex="1">
                    <div class="decoration" id="dt"></div>
                    <div class="top">
                        <div class="text">Декоративные эпоксидные полы</div>
                    </div>
                    
                    <img src="~/client/img/static.png" />
                    <div class="bottom">
                        <div class="text">Узнать стоимость</div>
                    </div>
                    <div class="decoration" id="db"></div>
                </div>
                <div class="service" tabindex="1">
                    <div class="decoration" id="dt"></div>
                    <div class="top">
                        <div class="text">Декоративные эпоксидные полы</div>
                    </div>
                    
                    <img src="~/client/img/static.png" />
                    <div class="bottom">
                        <div class="text">Узнать стоимость</div>
                    </div>
                    <div class="decoration" id="db"></div>
                </div>
                <div class="service" tabindex="1">
                    <div class="decoration" id="dt"></div>
                    <div class="top">
                        <div class="text">Декоративные эпоксидные полы</div>
                    </div>
                    
                    <img src="~/client/img/static.png" />
                    <div class="bottom">
                        <div class="text">Узнать стоимость</div>
                    </div>
                    <div class="decoration" id="db"></div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="result">
        <table>
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Реком-й расход на 1 м2 (кг)</th>
                    <th>Необх-е кол-во (кг)</th>
                    <th>Цена на 1 м2 (руб.)</th>
                    <th>Всего</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Промышленный, эпоксидный наливной пол</td>
                    <td>2,2</td>
                    <td>0</td>
                    <td>1&nbsp;056</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Эпоксидный грунт</td>
                    <td>0,3</td>
                    <td>0</td>
                    <td>198</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Тиксoтропная шпатлевка</td>
                    <td>0,5</td>
                    <td>0</td>
                    <td>240</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="result-table">
        <li>
            <p>Наименование</p>
            <p class="val">Промышленный, эпоксидный наливной пол</p>
            <p>Реком-й расход на 1 м2 (кг)</p>
            <p class="val">2,2</p>
            <p>Необх-е кол-во (кг)</p>
            <p class="val">0</p>
            <p>Цена на 1 м2 (руб.)</p>
            <p class="val">1&nbsp;056</p>
            <p>Всего</p>
            <p class="val">0</p>
        </li>
        <li>
            <p>Наименование</p>
            <p class="val">Эпоксидный грунт</p>
            <p>Реком-й расход на 1 м2 (кг)</p>
            <p class="val">0,3</p>
            <p>Необх-е кол-во (кг)</p>
            <p class="val">0</p>
            <p>Цена на 1 м2 (руб.)</p>
            <p class="val">198</p>
            <p>Всего</p>
            <p class="val">0</p>
        </li>
        <li>
            <p>Наименование</p>
            <p class="val">Тиксoтропная шпатлевка</p>
            <p>Реком-й расход на 1 м2 (кг)</p>
            <p class="val">0,5</p>
            <p>Необх-е кол-во (кг)</p>
            <p class="val">0</p>
            <p>Цена на 1 м2 (руб.)</p>
            <p class="val">240</p>
            <p>Всего</p>
            <p class="val">0</p>
        </li>
    </ul>
</div>