<div class="main-our-team">
    <div class="our-team-container">
        <div class="our-team-info">
            <h2>
                команда
            </h2>
            <p>
                Работает команда профессионалов со средним опытом от 5,5 лет.
            </p>
        </div>
        <div class="our-team-cards">
            @* <div class="our-team-cards-prev"></div> *@
            <div class="our-team-cards-contain">
                <ul class="out-team-carusel">
                    <li class="first float-slick">
                        <div class="out-team-card-gradient"></div>
                        <div class="our-team-cards-text">
                            <h3>
                                Волкова М. М.
                            </h3>
                            <p>
                                Менеджер по работе с клиентами
                            </p>
                        </div>
                    </li>
                    <li class="second float-slick">
                        <div class="out-team-card-gradient"></div>
                        <div class="our-team-cards-text">
                            <h3>
                                Магомедова А. М.
                            </h3>
                            <p>
                                Менеджер по работе с клиентами
                            </p>
                        </div>
                    </li>
                    <li class="theerd float-slick">
                        <div class="out-team-card-gradient"></div>
                        <div class="our-team-cards-text">
                            <h3>
                                Магомедов М. М.
                            </h3>
                            <p>
                                Менеджер по работе с клиентами
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            @* <div class="our-team-cards-next"></div> *@
        </div>
    </div>
</div>