@model KagamaModels.Entities.GalleryCategory

    <div class="main-tabs-btn">
        <a asp-controller="Gallery" asp-action="Index">Основное</a>
        <a class="active">Категории</a>
        <a asp-controller="Gallery" asp-action="AlbumCreate">Альбомы</a>
        <a asp-controller="Gallery" asp-action="ItemList">Список изображений</a>
    </div>

<div class="main-tab active">
    <form asp-action="CategoryCreate" asp-controller="Gallery" asp-area="cp" asp-antiforgery="true" enctype="multipart/form-data">
        <div class="fileinput">
            <input type="file" asp-for="Icon" />
            <div class="check">Добавить иконку</div>
        </div>
        <div class="input">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" placeholder="Введите заголовок" class="js_translate_get" onkeyup="translateUrl()" />
            <span class="error" asp-validation-for="Title"></span>
        </div>
        <div class="input">
            <label asp-for="TitleH1"></label>
            <input type="text" asp-for="TitleH1" placeholder="Введите заголовок h1" />
        </div>
        <div class="input">
            <label asp-for="Alias"></label>
            <input type="text" asp-for="Alias" placeholder="Введите заголовок (Url)" class="js_translate_set" />
        </div>
        <div class="input">
            <label>Статус</label>
            <div class="flex-switcher">
                <p>Показать</p>
                <div class="switcher">
                    <input type="checkbox" asp-for="Show" class="checkbox" />
                    <div class="check"></div>
                </div>
            </div>
        </div>
        <div class="input">
            <label asp-for="SeoTitle"></label>
            <input type="text" asp-for="SeoTitle" placeholder="Seo title" />
        </div>
        <div class="input">
            <label asp-for="SeoDescription"></label>
            <input type="text" asp-for="SeoDescription" placeholder="Seo description" />
        </div>
        <div class="input">
            <label asp-for="SeoKeywords"></label>
            <input type="text" asp-for="SeoKeywords" placeholder="Seo keywords" />
        </div>
        <div class="flex-button">
            <input class="btn-primary" type="submit" value="Добавить" />
        </div>
    </form>
    @await Component.InvokeAsync("GalleryCategory")
</div>