@model KagamaAdmin.Areas.cp.ViewModels.Gallery.GalleryView
<div class="main-tabs-btn">
    <a class="active">Основное</a>
    <a asp-controller="Gallery" asp-action="CategoryCreate">Категории</a>
    <a asp-controller="Gallery" asp-action="AlbumCreate">Альбомы</a>
    <a asp-controller="Gallery" asp-action="ItemList">Список изображений</a>
</div>

<div class="main-tab active">
    <form asp-action="Index" asp-controller="Gallery" asp-area="cp" asp-antiforgery="true" enctype="multipart/form-data">
        <div class="input">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" placeholder="Введите заголовок" />
        </div>
        <div class="input">
            <div class="fileinput">
                <input type="file" onchange="readURL(this);" asp-for="Icon" />
                <div class="check">Добавить фото</div>
            </div>
        </div>
        <div class="validation-summary" asp-validation-summary="ModelOnly"></div>
        <img id="previewImg" style="height: 120px" />
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1;}
                @foreach (var c in Model.GalleryAlbums)
                {
                    <tr>
                        <td><i>@(i++)</i></td>
                        <td>@c.Title</td>
                        <td>
                            <div class="flex-switcher">
                                <p>Связать</p>
                                <div class="switcher">
                                    <input type="checkbox" id="@c.Id" name="MyCheck" value="@c.Id" class="checkbox">
                                    <div class="check"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="flex-button">
            <input class="btn-primary btn-fix" type="submit" value="Добавить" />
        </div>
    </form>
</div>