<div class="main-soc">
    <div class="soc">
        <p class="block-title">Смотрите нас в социальных сетях</p>
        <ul>
            <li>
                <a href="https://vk.com/poli_floor" target="_blank">
                    <img src="~/client/img/main-soc-1.png" alt="">
                    <span>вконтакте</span>
                </a>
            </li>
            <li>
                <a href="https://ok.ru/group/52108766675031" target="_blank">
                    <img src="~/client/img/main-soc-2.png" alt="">
                    <span>одноклассники</span>
                </a>
            </li>
            <li>
                <a href="https://instagram.com/polifloor" target="_blank">
                    <img src="~/client/img/main-soc-3.png" alt="">
                    <span>instagram</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/polifloor" target="_blank">
                    <img src="~/client/img/main-soc-4.png" alt="">
                    <span>twitter</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/groups/polifloornomer1" target="_blank">
                    <img src="~/client/img/main-soc-5.png" alt="">
                    <span>facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCa3jeJBt5wM-xY6MmPi4VfQ" target="_blank">
                    <img src="~/client/img/main-soc-7.png" alt="">
                    <span>youtube</span>
                </a>
            </li>
        </ul>
    </div>
</div>