@using KagamaAdmin.Components
@model KagamaModels.Entities.Page

@{
    ViewData["SeoTitle"] = Model.SeoTitle;
    ViewData["SeoKeywords"] = Model.SeoKeywords;
    ViewData["SeoDescription"] = Model.SeoDescription;
}

@await Component.InvokeAsync("MainProjects")

@await Component.InvokeAsync("MainCatalog")

@await Component.InvokeAsync("MainMaterials")

@await Component.InvokeAsync("MainGallery")

@await Component.InvokeAsync("MainSellingVideo")

@await Component.InvokeAsync("MainTv");

@await Component.InvokeAsync("MainReviews")

@await Component.InvokeAsync("MainCTA")

@await Component.InvokeAsync("MainOurTeam")

@await Component.InvokeAsync("MainCalculator")

@await Component.InvokeAsync("MainFloors")

@await Component.InvokeAsync("MainQNA")

@await Component.InvokeAsync("MainQuestions")

<partial name="_MainSoc" />

<div class="main-lead" id="mainLead">
    @await Component.InvokeAsync("MainLead")
</div>

@await Component.InvokeAsync("MainMap")