<div class="form-cta">
    <div class="form-cta-contain">
        <div class="form-cta-contain-info">
            <h2>
                оставить заявку
            </h2>
            <p>
                Заполните форму ниже, узнайте стоимость устройства ваших полов и получите образец бесплатно
            </p>
        </div>
        <div class="form-cta-block">
            <div class="form-cta-left-block">
                <div class="form-cta-left-block-icon"></div>
            </div>
            <div class="form-cta-right-block">
                <h3>
                    Оставьте контакты и получите расчет стоимости и образец бесплатно
                </h3>
                <form>
                    <div class="form-cta-form-name">
                        <label for="nameUser">Имя</label>
                        <input type="text" id="nameUser" />
                    </div>
                    <div class="form-cta-form-number-phone">
                        <label for="numberPhone">Телефон</label>
                        <input type="tel" id="numberPhone" />
                    </div>
                    <div class='form-cta-form-button'>
                        <p>полцчить расчет и образец</p>
                    </div>
                </form>
                <p>
                Нажимая на кнопку, вы даете согласие на обработку
                своихперсональных данных и соглашаетесь с
                <a>Пользовательским соглашением</a>
                </p>
            </div>
        </div>
    </div>
</div>