@model KagamaModels.Entities.ArticleCategory

<div class="bread">
    <a asp-controller="Article" asp-action="Category" asp-area="cp" class="back">
        <img src="~/cp/img/back.png" alt="">Назад
    </a>
</div>
<div id="main-tab" class="main-tab active">
    <form asp-action="CategoryEdit" asp-controller="Article" asp-area="cp" asp-antiforgery="true">
        <input type="hidden" asp-for="Id" />
        <div class="input js_translit">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" placeholder="Введите заголовок" class="js_translate_get" />
        </div>
        <div class="input">
            <label asp-for="Alias"></label>
            <input type="text" asp-for="Alias" placeholder="Введите Url" class="js_translate_set" />
        </div>
        <div class="input">
            <label>Если это новость</label>
            <div class="flex-switcher">
                <p>Нет/Да</p>
                <div class="switcher">
                    <input type="checkbox" asp-for="IsNews" class="checkbox" />
                    <div class="check"></div>
                </div>
            </div>
        </div>
        <div class="input">
            <label asp-for="SeoTitle"></label>
            <input type="text" asp-for="SeoTitle" placeholder="Seo title" />
        </div>
        <div class="input">
            <label asp-for="SeoDescription"></label>
            <input type="text" asp-for="SeoDescription" placeholder="Seo description" />
        </div>
        <div class="input">
            <label asp-for="SeoKeywords"></label>
            <input type="text" asp-for="SeoKeywords" placeholder="Seo keywords" />
        </div>
        <div class="flex-button">
            <input class="btn-primary" type="submit" value="Сохранить" />
            <a class="btn-primary btn-secondary" asp-controller="Article" asp-action="Category" asp-area="cp">Отмена</a>
        </div>
    </form>
</div>