@model KagamaAdmin.Areas.cp.ViewModels.Article.SeoView

<div class="bread">
    <a asp-controller="Article" asp-action="Index" asp-area="cp" class="back">
        <img src="~/cp/img/back.png" alt="">Назад
    </a>
    <p>Обновить статью: @Model.Title</p>
</div>
<div class="main-tabs-btn">
    <a asp-controller="Article" asp-action="Edit" asp-route-id="@Model.Id">Основное</a>
    <a asp-controller="Article" asp-action="Image" asp-route-id="@Model.Id">Изображения</a>
    <a class="active">Seo</a>
</div>
<div id="main-tab" class="main-tab active">
    <form asp-action="Seo" asp-controller="Article" asp-area="cp" asp-antiforgery="true">
        <input type="hidden" asp-for="Title" />
        <input type="hidden" asp-for="Id" />
        <div class="input">
            <label asp-for="SeoTitle"></label>
            <input type="text" asp-for="SeoTitle" placeholder="Seo title" />
        </div>
        <div class="input">
            <label asp-for="SeoDescription"></label>
            <textarea asp-for="SeoDescription" placeholder="Seo description"></textarea>
        </div>
        <div class="input">
            <label asp-for="SeoKeywords"></label>
            <input type="text" asp-for="SeoKeywords" placeholder="Seo keywords" />
        </div>
        <div class="flex-button">
            <input class="btn-primary" type="submit" value="Сохранить" />
            <a class="btn-primary btn-secondary" asp-controller="Article" asp-action="Index" asp-area="cp">Отмена</a>
        </div>
    </form>
</div>