<div class="main-region">
    <div class="region-contain">
        <h2>
            мы в регионах
        </h2>
        <div class="first-section-reg">
            <div class="first-section-reg-first-card">
                <p>
                    Наша фирма предлагает Вам широкий выбор полов,
                    которые отличаются качеством, ценой и разнообразием
                    цветовых гамм. Даже самый капризный клиент найдет у нас то,
                    что ему нужно. Специалисты по заливке самых разных полов выполнят работу быстро,
                    красиво и квалифицированно! Полимерные полы придадут Вам динамичность и всегда положительную энергию.
                    Обратившись в нашу фирму, Вы подписываетесь на качество и красоту на всю жизнь!
                </p>
                <img src="~/client/img/regions/Rectangle145.png" />
            </div>
            <div class="first-section-reg-second-card">
                <p>
                    Наша фирма предлагает Вам широкий выбор полов,
                    которые отличаются качеством, ценой и разнообразием
                    цветовых гамм. Даже самый капризный клиент найдет у нас то,
                    что ему нужно. Специалисты по заливке самых разных полов выполнят работу быстро,
                    красиво и квалифицированно! Полимерные полы придадут Вам динамичность и всегда положительную энергию.
                    Обратившись в нашу фирму, Вы подписываетесь на качество и красоту на всю жизнь!
                </p>
                <img src="~/client/img/regions/Rectangle145.png" />
            </div>
        </div>
        <div class="second-section-reg">
            <div class="second-section-reg-first-card">
                <p>
                    Наша фирма предлагает Вам широкий выбор полов,
                    которые отличаются качеством, ценой и разнообразием
                    цветовых гамм. Даже самый капризный клиент найдет у нас то,
                    что ему нужно. Специалисты по заливке самых разных полов выполнят работу быстро,
                    красиво и квалифицированно! Полимерные полы придадут Вам динамичность и всегда положительную энергию.
                    Обратившись в нашу фирму, Вы подписываетесь на качество и красоту на всю жизнь!
                </p>
                <img src="~/client/img/regions/Rectangle145.png" />
            </div>
            <div class="second-section-reg-second-card">
                <p>
                    Наша фирма предлагает Вам широкий выбор полов,
                    которые отличаются качеством, ценой и разнообразием
                    цветовых гамм. Даже самый капризный клиент найдет у нас то,
                    что ему нужно. Специалисты по заливке самых разных полов выполнят работу быстро,
                    красиво и квалифицированно! Полимерные полы придадут Вам динамичность и всегда положительную энергию.
                    Обратившись в нашу фирму, Вы подписываетесь на качество и красоту на всю жизнь!
                </p>
                <img src="~/client/img/regions/Rectangle145.png" />
            </div>
        </div>
    </div>
</div>