@model KagamaModels.Entities.Region

<div class="bread">
    <a asp-controller="Region" asp-action="Index" asp-area="cp" class="back">
        <img src="~/cp/img/back.png" alt="">Регионы
    </a>
    <p>Создание региона</p>
</div>
<div class="main-tabs-btn">
    <a href="#main-tab" class="active">Основное</a>
</div>
<div id="main-tab" class="main-tab active">
    <form asp-action="Create" asp-controller="Region" asp-area="cp" asp-antiforgery="true">
        <div class="input js_translit">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" placeholder="Введите заголовок" class="js_translate_get" onkeyup="translateUrl()" />
            <span class="error" asp-validation-for="Title"></span>
        </div>
        <div class="input">
            <label asp-for="Alias"></label>
            <input type="text" asp-for="Alias" placeholder="Введите Url" class="js_translate_set" />
        </div>
        <div class="input">
            <label asp-for="TitleH1"></label>
            <input type="text" asp-for="TitleH1" placeholder="Введите заголовок h1" />
        </div>
        <div class="input">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.RegionCategories"></select>
        </div>
        <div class="input">
            <label asp-for="Index"></label>
            <input type="text" asp-for="Index" placeholder="Индекс" />
        </div>
        <div class="input">
            <label asp-for="Phone"></label>
            <input type="text" asp-for="Phone" placeholder="Номер телефона" />
        </div>
        <div class="input">
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" placeholder="Почта" />
        </div>
        <div class="input">
            <label asp-for="Address"></label>
            <input type="text" asp-for="Address" placeholder="Адрес" />
        </div>
        <div class="input ck-block" style="max-width: 100%">
            <div class="flex-input">
                <label asp-for="Description"></label><a class="btn-primary bth-ck-editor">Показать / Скрыть</a>
            </div>
            <div class="hide-block" style="display:none">
                <textarea asp-for="Description" id="ck_editor_1"></textarea>
            </div>
        </div>
        <div class="flex-button">
            <input class="btn-primary btn-fix" type="submit" value="Добавить" />
            <a class="btn-primary btn-secondary" asp-controller="Region" asp-action="Index" asp-area="cp">Отмена</a>
        </div>
    </form>
</div>