@model KagamaAdmin.ViewModel.CartOrderView
<form>
    <p class="block-title">Оформление заказа</p>
    @Html.AntiForgeryToken()
    <div class="flex-input">
        <div class="@(ViewData.ModelState["Name"]?.Errors.Count > 0 ? "input error" : "input")">
            <input type="text" placeholder="Имя" asp-for="Name">
            <i class="required">*</i>
        </div>
        <div class="@(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "input error" : "input")">
            <input type="text" placeholder="Почта" asp-for="Email">
            <i class="required">*</i>
        </div>
        <div class="@(ViewData.ModelState["Phone"]?.Errors.Count > 0 ? "input error" : "input")">
            <input type="text" placeholder="Телефон" asp-for="Phone">
            <i class="required">*</i>
        </div>
    </div>
    <div class="flex-input">
        <div class="input">
            <input type="text" placeholder="Комментарии" asp-for="Description">
        </div>
    </div>
    <div class="btn-block">
        <div class="wrap-btn">
            <a class="cancel-btn">Отмена</a>
            <input type="submit" value="Оформить заказ">
        </div>
    </div>
</form>