<div class="main-reviews">
    <div class="content swiper">
        <h1>отзывы наших заказчиков</h1>
        <div class="">
            <div class="prev">
                </div>
            <div class="main-slider">
                <div class="slide ">
                    <div class="info">
                        <div class="name">Андрей</div>
                        <div class="city_name">г. Москва</div>
                    </div>
                    <div class="info">
                        <div class="rate">
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/empty.png" />
                        </div>
                        <div class="date">20.12.21</div>
                    </div>
                    <div class="description">
                        В феврале – марте 2003 г. в распределительном складском комплексе торговой сети , расположенном по адресу: МО, Балашихинский 
                        р-он, г. Железнодорожный, силами ООО «ТэоХим» были выполнены работы по устройству защитного покрытия полов полиуретановой композицией «Элакор-ПУ», площадь – 15 600 м².

                        Замечаний по срокам и качеству проводившихся работ нет.

                        За истекший период, покрытие «Элакор-ПУ» показало хорошие эксплуатационные свойства.

                        Претензий по качеству нет.
                    </div>
                    <div class="image_desc">
                        <img src="~/client/img/desc1.png" />
                        <img src="~/client/img/desc2.png" />
                    </div>
                </div>
                <div class="slide ">
                    <div class="info">
                        <div class="name">Андрей</div>
                        <div class="city_name">г. Москва</div>
                    </div>
                    <div class="info">
                        <div class="rate">
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/empty.png" />
                        </div>
                        <div class="date">20.12.21</div>
                    </div>
                    <div class="description">
                        В феврале – марте 2003 г. в распределительном складском комплексе торговой сети , расположенном по адресу: МО, Балашихинский 
                        р-он, г. Железнодорожный, силами ООО «ТэоХим» были выполнены работы по устройству защитного покрытия полов полиуретановой композицией «Элакор-ПУ», площадь – 15 600 м².

                        Замечаний по срокам и качеству проводившихся работ нет.

                        За истекший период, покрытие «Элакор-ПУ» показало хорошие эксплуатационные свойства.

                        Претензий по качеству нет.
                    </div>
                    <div class="image_desc">
                        <img src="~/client/img/desc1.png" />
                        <img src="~/client/img/desc2.png" />
                    </div>
                </div>
                <div class="slide ">
                    <div class="info">
                        <div class="name">Валерий</div>
                        <div class="city_name">г. Москва</div>
                    </div>
                    <div class="info">
                        <div class="rate">
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/fullfilled.png" />
                            <img src="~/client/img/empty.png" />
                        </div>
                        <div class="date">20.12.21</div>
                    </div>
                    <div class="description">
                        В феврале – марте 2003 г. в распределительном складском комплексе торговой сети , расположенном по адресу: МО, Балашихинский 
                        р-он, г. Железнодорожный, силами ООО «ТэоХим» были выполнены работы по устройству защитного покрытия полов полиуретановой композицией «Элакор-ПУ», площадь – 15 600 м².

                        Замечаний по срокам и качеству проводившихся работ нет.

                        За истекший период, покрытие «Элакор-ПУ» показало хорошие эксплуатационные свойства.

                        Претензий по качеству нет.
                    </div>
                    <div class="image_desc">
                        <img src="~/client/img/desc1.png" />
                        <img src="~/client/img/desc2.png" />
                    </div>
                </div>
            </div>
            <div class="next">
            </div>
            
            <div class="swiper-pagination" style="margin-top:2rem"></div>
        </div>
    </div>
</div>