<div class="main-properties">
    <div class="content">
        <div style="text-transform: upper-case;">
            <h1 style="padding: 2rem 0;margin:0">свойства и выгоды</h1>
        </div>    
        <div class="container">
            <div>
                Наливные полы - один излучших сбособов сделать эксклюзивный дизайн
            </div>
            <div>
                Прекрасно подходит для промышленных, коммерческих и жилых помещений
            </div>
        </div>
        <div class="main-container">
            <div class="with-border">
                <div>
                    <div class="item">
                        <h3>Бесшовные</h3>
                        <div>
                            Не забивается пыльи грязь в стыки
                        </div>
                    </div>
                    <div class="item">
                        <h3>Антибактериальные</h3>
                        <div>
                            Не забивается пыльи грязь в стыки
                        </div>
                    </div>
                    <div class="item">
                        <h3>Практичные</h3>
                        <div>
                            Не забивается пыльи грязь в стыки
                        </div>
                    </div>
                </div>
                <div>
                    <img src="~/client/img/border-left.png" />
                </div>
            </div>
            <div class="padding: 0 1rem;">
                <img src="~/client/img/brand-logo.png" />
            </div>
            <div class="with-border">
                <div>
                    <img src="~/client/img/border-right.png" />
                </div> 
                <div>
                    <div class="item">  
                        <h3>Герметичные</h3>
                        <div>
                            Не забивается пыльи грязь в стыки 
                        </div>
                    </div>
                    <div class="item">
                        <h3>2020 цветов на выбор</h3>
                        <div>
                            Не забивается пыльи грязь в стыки
                        </div>
                    </div>
                    <div class="item">
                        <h3>Практичные</h3>
                        <div>
                            Не забивается пыльи грязь в стыки
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>