@model KagamaAdmin.ViewModel.MainGalleryView

<div class="main-gallery">
        <div class="main-gallery-info">
            <div class="gallery-description">@Html.Raw(Model.GalleryAlbum.Description)</div>
            <div class="gallery-description">
                <div>
                    @Html.Raw(Model.VideoDesc)
                </div>
            </div>
        </div>
</div>