<div class="main-stage-of-work">
    <div class="stage-of-work-contain">
        <div class="stage-of-work-text">
            <h2>
                этапы работы
            </h2>
            <p>
                5 этапов к современному, практичному и красивому напольному  покрытию
            </p>
        </div>
        <div class="stage-of-work-cards">
            <ul>
                <li>
                    <div class="stage-of-work-block first">
                        <div class="stage-of-work-number">
                            <p>1</p>
                        </div>
                        <div class="stage-of-work-arrow"></div>
                    </div>
                    <div class="stage-of-work-info">
                        <p>
                        Оставляете заявку или связываемся 
                        с вами по телефону, подготавливаем
                        КП для решения вашей задачи
                        </p>
                    </div>
                </li> 
                <li>
                    <div class="stage-of-work-block second">
                        <div class="stage-of-work-number">
                            <p>2</p>
                        </div>
                        <div class="stage-of-work-arrow"></div>
                    </div>
                    <div class="stage-of-work-info">
                        <p>
                            Специалист с образцами выезжает к вам на объект для осмотра основания
                        </p>
                    </div>
                </li> 
                <li>
                    <div class="stage-of-work-block theerd">
                        <div class="stage-of-work-number">
                            <p>3</p>
                        </div>
                        <div class="stage-of-work-arrow"></div>
                    </div>
                    <div class="stage-of-work-info">
                        <p>
                            Подписание договора
                        </p>
                    </div>
                </li> 
                <li>
                    <div class="stage-of-work-block fourth">
                        <div class="stage-of-work-number">
                            <p>4</p>
                        </div>
                        <div class="stage-of-work-arrow"></div>
                    </div>
                    <div class="stage-of-work-info">
                        <p>
                            На объект выезжает бригада и осуществляет работы по
                            заливке наливного пола согласно техническому заданию
                        </p>
                    </div>
                </li> 
                <li>
                    <div class="stage-of-work-block fiveth">
                        <div class="stage-of-work-number">
                            <p>5</p>
                        </div>
                        <div class="stage-of-work-arrow"></div>
                    </div>
                    <div class="stage-of-work-info">
                        <p>
                            Принимаете работу, подписываете соответствующий акт
                        </p>
                    </div>
                </li> 
            </ul>
        </div>
    </div>
</div>