@model KagamaAdmin.ViewModel.HeaderView

@if (ViewContext.RouteData.Values["action"].ToString() == "Index" ||
ViewContext.RouteData.Values["action"].ToString() == "Service" && ViewContext.RouteData.Values["alias"] == null)
{
    <header>
        <div class="top-block-menu" id="top-block-menu">
            <img src="~/client/img/top-menu-open.png" />
        </div>
        <div class="top-block">

            <div class="logo" id="logo">
                <a asp-action="Index" asp-controller="Home" asp-route-alias="">
                    <img src="~/client/img/logo2.jpg" alt="">
                </a>
            </div>

            <div class="header-lists" id="header-lists">
                <div class="header-contact">
                    <a asp-action="Regions" asp-controller="Home" class="region" asp-route-alias="">Мы в регионах</a>
                    <a class="call" href="tel:@Model.Phone">@Model.Phone</a>
                </div>
                <ul>
                    <li><a asp-controller="Home" asp-action="About" asp-route-alias="">О нас</a></li>
                    <li><a asp-controller="Home" asp-action="Services" asp-route-alias="">Услуги</a></li>
                    <li><a asp-controller="Home" asp-action="Catalog" asp-route-alias="">Магазин</a></li>
                    <li><a asp-controller="Home" asp-action="Gallery" asp-route-alias="">Фотогалерея</a></li>
                    <li><a asp-action="Tv" asp-controller="Home" asp-route-alias="">Мы на тв</a></li>
                    <li><a asp-action="Projects" asp-controller="Home" asp-route-alias="">Наши проекты</a></li>
                    <li><a asp-action="Video" asp-controller="Home" asp-route-alias="">Обучение</a></li>
                    <li><a asp-controller="Home" asp-action="Contacts" asp-route-alias="">Контакты</a></li>
                    <li><a asp-controller="Home" asp-action="Review" asp-route-alias="">Отзывы</a></li>
                </ul>
            </div>

            <div class="bottom-block">
                <a asp-action="Cart" asp-controller="Home" class="cart" asp-route-alias="">
                    <span class="cart-block">
                        <span class="cart-image">
                            <img src="~/client/img/new-cart.png" alt="" />
                        </span>
                        <span class="CartIcon">
                            @Model.CartView.CountProducts
                        </span>
                    </span>
                </a>
                <a asp-action="Calculator" asp-controller="Home" asp-route-alias="" class="calc"><img
                    src="~/client/img/new-calc.png" alt="">
                </a>
            </div>
        </div>
    </header>
}
else
{
    <header>
        <div class="top-block-menu" id="top-block-menu">
            <img src="~/client/img/top-menu-open.png" />
        </div>
        <div class="top-block">

            <div class="logo-other" id="logo">
                <a asp-action="Index" asp-controller="Home" asp-route-alias="">
                    <img src="~/client/img/logo2.jpg" alt="">
                </a>
            </div>

            <div class="header-lists" id="header-lists">
                <div class="header-contact">
                    <a asp-action="Regions" asp-controller="Home" class="region" asp-route-alias="">Мы в регионах</a>
                    <a class="call" href="tel:@Model.Phone">@Model.Phone</a>
                </div>
                <ul>
                    <li><a asp-controller="Home" asp-action="About" asp-route-alias="">О нас</a></li>
                    <li><a asp-controller="Home" asp-action="Services" asp-route-alias="">Услуги</a></li>
                    <li><a asp-controller="Home" asp-action="Catalog" asp-route-alias="">Магазин</a></li>
                    <li><a asp-controller="Home" asp-action="Gallery" asp-route-alias="">Фотогалерея</a></li>
                    <li><a asp-action="Tv" asp-controller="Home" asp-route-alias="">Мы на тв</a></li>
                    <li><a asp-action="Projects" asp-controller="Home" asp-route-alias="">Наши проекты</a></li>
                    <li><a asp-action="Video" asp-controller="Home" asp-route-alias="">Обучение</a></li>
                    <li><a asp-controller="Home" asp-action="Contacts" asp-route-alias="">Контакты</a></li>
                    <li><a asp-controller="Home" asp-action="Review" asp-route-alias="">Отзывы</a></li>
                </ul>
            </div>

            <div class="bottom-block">
                <a asp-action="Cart" asp-controller="Home" class="cart" asp-route-alias="">
                    <span class="cart-block">
                        <span class="cart-image">
                            <img src="~/client/img/new-cart.png" alt="" />
                        </span>
                        <span class="CartIcon">
                            @Model.CartView.CountProducts
                        </span>
                    </span>
                </a>
                <a asp-action="Calculator" asp-controller="Home" asp-route-alias="" class="calc"><img
                    src="~/client/img/new-calc.png" alt=""></a>
            </div>

        </div>
    </header>
}