<div class="main-call-to-action">
    <div class="main-call-to-aciton-contain">
        <h2>
            оставить заявку
        </h2>
        <div class="main-call-to-action-block">
            <h3>
                Узнайте, какой вид покрытия подойдет в вашем случае и сколько будет стоить работа и материалы
            </h3>
            <div class="main-call-to-action-lists">
                <ul>
                    <li class="first">
                        скидка 5%
                    </li>
                    <li class="second">
                        образец
                    </li>
                    <li class="theerd">
                        клининг пола    
                    </li>
                    <li class="fourth">
                        выезд специалиста на объект
                    </li>
                    <li class="fiveth">
                        консультация специалиста
                    </li>
                </ul>
            </div>
            <div class="main-call-to-actino-bonus js-open-order">
                <div class="icon-bonus"></div>
                <p>
                    Получить стоимость и 5 бонусов
                </p>
            </div>
        </div>
    </div>
</div>