<div class="main-rewards">
    <h1>НАГРАДЫ</h1>
    <div class="content">
        <div class="rewards">
            <div class="slider">
                <div class="rewards-wrapper slider-wrapper">
                    <div class="reward"> </div>
                    <div class="reward"> </div>
                    <div class="reward"> </div>
                    <div class="reward"> </div>
                </div>
            </div>
        </div>
    </div>
</div>