<div class="main-rewards">
    <div class="main-reward-outside" id="main-reward-outside">
        <div class="main-reward-outside-close" id="main-reward-outside-close"></div>
        <img alt="rewars" id="main-reward-outside-img">
    </div>
    <h1>НАГРАДЫ</h1>
    <div class="content">
        <div class="rewards">
            <div class="slider">
                <div class="rewards-wrapper slider-wrapper" id="rewards-click">
                    <div class="reward" onclick="clickReward(this)">
                        <img src="client/img/rewrd/reward (1).jpg" alt="reward1" />
                    </div>
                    <div class="reward" onclick="clickReward(this)">
                        <img src="client/img/rewrd/reward (2).jpg" alt="reward2" />
                    </div>
                    <div class="reward" onclick="clickReward(this)">
                        <img src="client/img/rewrd/reward (3).jpg" alt="reward3" />
                    </div>
                    <div class="reward" onclick="clickReward(this)">
                        <img src="client/img/rewrd/reward (4).jpg" alt="reward4" />
                    </div>
                    <div class="reward" onclick="clickReward(this)">
                        <img src="client/img/rewrd/reward (5).jpg" alt="reward5" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>