@model KagamaModels.Entities.Page

<div class="bread">
    <a asp-controller="Home" asp-action="Index" asp-area="cp" class="back">
        <img src="~/cp/img/back.png" alt="">Назад
    </a>
    <p>Обновить страницу: @Model.Title</p>
</div>
<div class="main-tabs-btn">
    <a class="active">Основное</a>
    <a asp-controller="Home" asp-action="Seo" asp-route-id="@Model.Id">Seo</a>
</div>
<div id="main-tab" class="main-tab active">
    <form asp-action="Edit" asp-controller="Home" asp-area="cp" asp-antiforgery="true">
        <input type="hidden" asp-for="Id" />
        <div class="input js_translit">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" placeholder="Введите заголовок" class="js_translate_get" />
            <span class="error" asp-validation-for="Title"></span>
        </div>
        <div class="input">
            <label asp-for="Alias"></label>
            <input type="text" asp-for="Alias" placeholder="Введите Url" class="js_translate_set" />
        </div>
        <div class="input">
            <label asp-for="TitleH1"></label>
            <input type="text" asp-for="TitleH1" placeholder="Введите заголовок h1" />
        </div>
        <div class="input" style="max-width: 100%">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" id="ck_editor_1"></textarea>
        </div>
        <div class="flex-button">
            <input class="btn-primary btn-fix" type="submit" value="Сохранить" />
            <a class="btn-primary btn-secondary" asp-controller="Home" asp-action="Index" asp-area="cp">Отмена</a>
        </div>
    </form>
</div>